@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url('Nunito-ExtraBold.ttf'), format('truetype');
}

@font-face {
    font-family: 'Quicksand_Bold';
    src: url('Quicksand_Bold.ttf'), format('truetype');
}

body {
    margin: 0;
    background-color: white;
}

header {
    background-color: #f9c933;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo h1{
    margin: 0;
    color: #3c1361;
    font-size: 28px;
    font-family: "Nunito-ExtraBold";
}

.logo h3{
    margin: 5px 0 0;
    font-size: 14px;
    color: #6d4c41;
    font-family: "Nunito-ExtraBold";
}


nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    align-items: center;
    font-family: "Nunito-ExtraBold";
}

nav a{
    text-decoration: none;
    color: #3c1361;
    font-weight: bold;
    font-family: "Nunito-ExtraBold";
}

nav a:hover{
    color: #2e7d32;
    transform: scale(1.1);
    transition: all 0.45s ease;
}

.botao:hover{
    background-color: #1b5e20;
    transform: scale(1.1);
    transition: all 0.45s ease;
}

.botao {
    background-color: #f9c933;
    color: white !important;
    padding: 8px 15px;
    border-radius: 5px;
    font-family: "Nunito-ExtraBold";
}

main{
    background-color: #f9c933;
    padding: 40px;
}

.conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.texto{
    max-width: 50%;
    color: #3c1361;
    font-weight: bold;
    line-height: 1.6;
    font-family: "Nunito-ExtraBold";
}

.img-copo{
    display: flex;
    justify-content: flex-end;
    flex: 1;
  
}

.img-copo img{
    width: 120px;
    height: auto;
    margin-right: auto;
}